html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;

  box-sizing: border-box;

  font-family: sans-serif;
  color: rgb(36, 36, 36);
}

body {
  background-image: url("../assets/back.jpg");
  background-position: 0 -200px;
}

button {
  border: 0;
  padding: 10px;
  width: 120px;
  align-self: center;
  margin: 20px 0;

  cursor: pointer;
  border-radius: 5px;

  font-weight: 600;
  text-transform: uppercase;
}

@media (min-width: 1920px) {
  body {
    background-repeat: no-repeat;
    background-size: cover;
  }
}
